<nav class="navbar">
  <div class="navbar__logo">
    <img src="/assets/images/logo.svg" alt="Logo" />
  </div>
  <button class="navbar__toggle" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen">
    <span class="navbar__toggle-icon"></span>
  </button>
  <ul class="navbar__menu" [class.active]="isMenuOpen">
    <li><a href="#" class="navbar__link active">Home</a></li>
    <li><a href="#about" class="navbar__link">About Us</a></li>
    <li><a href="#contact" class="navbar__link">Contact Us</a></li>
  </ul>
</nav>
