<section class="about-us-section" id="about">
  <div class="about-us-section__row about-us-section__row--header">
    <div class="about-us-section__col about-us-section__col--left">
      <h2 class="about-us-section__title">Our all<br>projects for<br>clients</h2>
    </div>
    <div class="about-us-section__col about-us-section__col--right">
      <p class="about-us-section__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
  <div class="about-us-section__row">
    <div class="about-us-section__col about-us-section__col--left">
      <h3 class="about-us-section__subtitle">Home Interiors</h3>
      <p class="about-us-section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="about-us-section__col about-us-section__col--right">
      <img src="/assets/images/about-interior.png" alt="Home Interiors" class="about-us-section__img" />
    </div>
  </div>
  <div class="about-us-section__row">
    <div class="about-us-section__col about-us-section__col--left">
      <img src="/assets/images/about-decorate.png" alt="Decorate Design" class="about-us-section__img" />
    </div>
    <div class="about-us-section__col about-us-section__col--right">
      <h3 class="about-us-section__subtitle">Decorate Design</h3>
      <p class="about-us-section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
  </div>
  <div class="about-us-section__row">
    <div class="about-us-section__col about-us-section__col--left">
      <h3 class="about-us-section__subtitle">Sofa Decorate</h3>
      <p class="about-us-section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
    </div>
    <div class="about-us-section__col about-us-section__col--right">
      <img src="/assets/images/about-sofa.png" alt="Sofa Decorate" class="about-us-section__img" />
    </div>
  </div>
</section>
